.button {
    display: flex;

    padding: 16px 37px;
    margin-right: 50px;

    font-size: 16px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: black;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

.button__alternate {
    margin-right: 0;

    background: white;
}
