.element {
    display: flex;
    justify-content: center;

    width: 30%;
    margin: 5px;
    padding: 10px;

    font-size: 21px;

    background: white;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px 20px;
}

.element-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: 100%;
    height: max-content;

    box-sizing: border-box;
}

.element_large {
    width: 40%;
}

.element_large:nth-child(even) {
    margin-left: 20px;
}
