.description {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    width: 100%;
    margin: auto 0 auto 100px;
}

.description_tabbed {
    margin-top: 80px;
}

.description__item {
    display: flex;

    margin-bottom: 20px;

    font-size: 20px;
}