.add {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.add__rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add__block {
    width: 43%;
}

.add__field {
    margin: 10px 0;
}

.add__input {
    padding: 10px;

    box-shadow: inset 0px 0px 3px rgba(0, 152, 100, 0.1);
    background-color: #F8FAFD;
    border-radius: 6px;
    border: none;
}

.add__submit {
    width: 100px;
    padding: 5px 10px;

    box-shadow: inset 0px 0px 3px rgba(0, 152, 100, 0.1);
    border-radius: 8px;
    transition: 0.5s all;
}

.add__submit:hover {
    box-shadow: 2px 4px 0 rgba(0, 50, 200, 0.2);
    background-color: darkgray;
    transition: 0.5s all;
    border-radius: 2px;
}

.add-product {
    display: flex;
}