.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 12vh;

    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
}

.header__logo {
    margin-left: 50px;
    width: 180px;
}

.header__right-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 16%;
}