.order {
    display: flex;

    padding: 18px 45px;
    margin-right: 50px;

    font-size: 18px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: black;
    transition: all 0.3s ease-in-out;
}

.order:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}
