@import "../check-box/check-box.css";
@import "../description/description.css";
@import "../elements/elements.css";
@import "../footer/footer.css";
@import "../header/header.css";
@import "../menu/menu.css";
@import "../button/button.css";
@import "../photo-box/photo.css";
@import "../total/total.css";
@import "../welcome-card/welcome-card.css";
@import "../create-user/create-user.css";
@import "../input-form/input-form.css";
@import "../registration/registration.css";
@import "../name/name.css";

* {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: black;
}

.link_white {
    color: white;
}

.main-space {
    display: flex;
    flex-direction: column;
    min-height: 79.5vh;

    box-sizing: border-box;
}

.main-space_row {
    flex-flow: row wrap;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__name {
    margin: 0 auto 30px;

    font-weight: 600;
    font-size: 30px;
}

.greet-card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55%;
    height: 79.5vh;
    margin: 0 auto 0 150px;

    text-align: center;
    color: dimgray;
    font-size: 65px;
}

.edit {
    position: absolute;
    right: 5%;

    width: 20px;
    height: 20px;
    padding: 10px;

    border-radius: 50%;
    transition: 0.3s all ease-in-out;
}

.edit__svg {
    width: 20px;
    height: 20px;
}

.edit:hover {
    transition: 0.2s all ease-in-out;
    box-shadow: 0 0 10px rgba(50, 12, 220, 1);
}
